<li class='gallery-item'>
  <img src='./img/Rectangle 5.png' alt='big' width='395' />
  <div class='card-box'>
    <h3 class='card-title'>Greyhound</h3>
    <p class='text'>Drama, Action | 2020</p>
  </div>
</li>